<a href="https://colab.research.google.com/github/BiplobKarmakar/EMK/blob/main/Leetcode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Bangladesh
s="Hello World"
print(s)
a=5;
print(a)

Hello World
5

In [ ]:
a=5;
print(a)
print(type(a))
a="Bangladesh"
print(a)
print(type(a))

5
<class 'int'>
Bangladesh
<class 'str'>

In [ ]:
a,b,c= "Bangladesh",50,"Years"
print(a)
print(b)
print(c)
#print(a)

Bangladesh
50
Years

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
b = "Hello, World!"
print(b[:2])

He

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
x = "Hello World"
print(len(x))

11

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-3:])

['kiwi', 'melon', 'mango']

In [ ]:
nums= [1,2,3]
newnums=nums[-3:]
print(newnums)

result = 1
for x in range(0, len(newnums)):
  result=result*newnums[x]
print(result)

[1, 2, 3]
6

In [ ]:
'''
Input: accounts = [[1,5],[7,3],[3,5]]
Output: 10
Explanation: 
1st customer has wealth = 6
2nd customer has wealth = 10 
3rd customer has wealth = 8
The 2nd customer is the richest with a wealth of 10.
'''
accounts = ([1,2,3],[3,2,1],[1,6,6,7],[1,2])
l=len(accounts)
print(l)
for i in range(l):
  innerlen=len(accounts[i])
  sum=0;
  for j in range(innerlen):
    sum=sum+accounts[j]
    print(sum)


     #print(innerlen) 
#l=len(accounts)

TypeError: ignored